/* body style */

body {

    font-family: Arial;
    margin: 0;

}

/* header */

header {

    background: black;
    color: white;
    padding: 15px;
    text-align: center;

}
header a {

    color: white;
    margin: 10px;
    text-decoration: none;

}
/* hero section */

.hero {

    background: lightblue;
    padding: 100px;
    text-align: center;
}
.hero button {

    padding: 10px 20px;
    font-size: 18px;
    background: black;
    color: white;
    border: none;

}
/* about */

.about {

    padding: 50px;
    text-align: center;

}
/* contact */

.contact {

    background: #f2f2f2;
    padding: 50px;
    text-align: center;

}