/* body style */

body {

    font-family: Arial;
    margin: 0;

}

/* header */

header {

    background: black;
    color: white;
    padding: 15px;
    text-align: center;

}
header a {

    color: white;
    margin: 10px;
    text-decoration: none;

}
/* hero section */

.hero {

    background: lightblue;
    padding: 100px;
    text-align: center;